In [1]:
# import packages 
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the packages needed for this part
# create spark and sparkcontext objects
import numpy as np


import os

os.getcwd()

'C:\\Users\\Sumeet Santani'

In [2]:
customer = pd.read_csv('Customer_churn.csv')

In [3]:
customer.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
customer = customer.drop(columns= ['customerID','gender'])
customer['SeniorCitizen'] = customer['SeniorCitizen'].astype(str)
customer['tenure'] = customer['tenure'].astype(str)

In [5]:
obj_df = customer.select_dtypes(include=['object']).copy()
obj_df

obj_df["Partner"] = obj_df["Partner"].astype('category')
obj_df["Dependents"] = obj_df["Dependents"].astype('category')
obj_df["PhoneService"] = obj_df["PhoneService"].astype('category')
obj_df["MultipleLines"] = obj_df["MultipleLines"].astype('category')
obj_df["InternetService"] = obj_df["InternetService"].astype('category')
obj_df["OnlineSecurity"] = obj_df["OnlineSecurity"].astype('category')
obj_df["OnlineBackup"] = obj_df["OnlineBackup"].astype('category')
obj_df["DeviceProtection"] = obj_df["DeviceProtection"].astype('category')
obj_df["TechSupport"] = obj_df["TechSupport"].astype('category')
obj_df["StreamingTV"] = obj_df["StreamingTV"].astype('category')


obj_df["StreamingMovies"] = obj_df["StreamingMovies"].astype('category')
obj_df["Contract"] = obj_df["Contract"].astype('category')
obj_df["StreamingTV"] = obj_df["StreamingTV"].astype('category')


obj_df["PaperlessBilling"] = obj_df["PaperlessBilling"].astype('category')
obj_df["PaymentMethod"] = obj_df["PaymentMethod"].astype('category')
obj_df["TotalCharges"] = obj_df["TotalCharges"].astype('category')

obj_df["SeniorCitizen"] = obj_df["SeniorCitizen"].astype('category')
obj_df["tenure"] = obj_df["tenure"].astype('category')
obj_df["Churn"] = obj_df["Churn"].astype('category')

In [6]:
pd.get_dummies(obj_df, columns=["Partner"]).head()


dataset = pd.get_dummies(obj_df, columns=["Partner","Dependents", "PhoneService","MultipleLines", "InternetService", "OnlineSecurity", "DeviceProtection", "TechSupport","StreamingTV", "StreamingMovies", "Contract", "PaperlessBilling", "PaymentMethod", "SeniorCitizen"])


dataset = pd.get_dummies(dataset, columns=["OnlineBackup"])

In [7]:
hey = pd.read_csv('Customer_churn.csv')

In [8]:
MonthlyCharges = hey['MonthlyCharges']
Churn = hey['Churn']

dataset['MonthlyCharges'] = MonthlyCharges
dataset['Churn']  = Churn

In [9]:
dataset = dataset.drop(['Churn'], axis=1)

In [10]:
dataset['Churn'] = Churn

In [11]:
dataset.head()

,tenure,TotalCharges,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,MultipleLines_No,MultipleLines_No phone service,...,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,SeniorCitizen_0,SeniorCitizen_1,OnlineBackup_No,OnlineBackup_No internet service,OnlineBackup_Yes,MonthlyCharges,Churn
0,1,29.85,0,1,1,0,1,0,0,1,...,0,1,0,1,0,0,0,1,29.85,No
1,34,1889.5,1,0,1,0,0,1,1,0,...,0,0,1,1,0,1,0,0,56.95,No
2,2,108.15,1,0,1,0,0,1,1,0,...,0,0,1,1,0,0,0,1,53.85,Yes
3,45,1840.75,1,0,1,0,1,0,0,1,...,0,0,0,1,0,1,0,0,42.30,No
4,2,151.65,1,0,1,0,0,1,1,0,...,0,1,0,1,0,1,0,0,70.70,Yes

In [12]:
X = dataset.iloc[:, [0, 43]].values
y = dataset.iloc[:, 44].values

In [13]:
# Splitting the dataset into the Training set and Test set
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

C:\Users\Sumeet Santani\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [14]:

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\Users\Sumeet Santani\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [15]:

# Fitting K-NN to the Training set
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [16]:

# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [17]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1131,  167],
       [ 252,  211]], dtype=int64)

In [20]:
accuracy = sum(np.diag(cm))/np.sum(cm)
accuracy

0.7620670073821693

In [21]:
#Precision is the number of true positives over the number of true positives plus the number of false positives = tp/tp+fp

Precision = 1131/(1131+167)
Precision

0.8713405238828967

In [22]:
#Recall is the number of true positives over the number of true positives plus the number of false negatives = tp/tp+fn
Recall = 1131/(1131+252)
Recall

0.8177874186550976