In [19]:
# import packages 
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the packages needed for this part
# create spark and sparkcontext objects
import numpy as np


import os

os.getcwd()

'C:\\Users\\Sumeet Santani'

In [20]:
customer = pd.read_csv('Customer_churn.csv')

In [21]:
customer = customer.drop(columns= ['customerID','gender'])
customer['SeniorCitizen'] = customer['SeniorCitizen'].astype(str)
customer['tenure'] = customer['tenure'].astype(str)

In [22]:
obj_df = customer.select_dtypes(include=['object']).copy()
obj_df

obj_df["Partner"] = obj_df["Partner"].astype('category')
obj_df["Dependents"] = obj_df["Dependents"].astype('category')
obj_df["PhoneService"] = obj_df["PhoneService"].astype('category')
obj_df["MultipleLines"] = obj_df["MultipleLines"].astype('category')
obj_df["InternetService"] = obj_df["InternetService"].astype('category')
obj_df["OnlineSecurity"] = obj_df["OnlineSecurity"].astype('category')
obj_df["OnlineBackup"] = obj_df["OnlineBackup"].astype('category')
obj_df["DeviceProtection"] = obj_df["DeviceProtection"].astype('category')
obj_df["TechSupport"] = obj_df["TechSupport"].astype('category')
obj_df["StreamingTV"] = obj_df["StreamingTV"].astype('category')


obj_df["StreamingMovies"] = obj_df["StreamingMovies"].astype('category')
obj_df["Contract"] = obj_df["Contract"].astype('category')
obj_df["StreamingTV"] = obj_df["StreamingTV"].astype('category')


obj_df["PaperlessBilling"] = obj_df["PaperlessBilling"].astype('category')
obj_df["PaymentMethod"] = obj_df["PaymentMethod"].astype('category')
obj_df["TotalCharges"] = obj_df["TotalCharges"].astype('category')

obj_df["SeniorCitizen"] = obj_df["SeniorCitizen"].astype('category')
obj_df["tenure"] = obj_df["tenure"].astype('category')
obj_df["Churn"] = obj_df["Churn"].astype('category')

In [23]:
pd.get_dummies(obj_df, columns=["Partner"]).head()


dataset = pd.get_dummies(obj_df, columns=["Partner","Dependents", "PhoneService","MultipleLines", "InternetService", "OnlineSecurity", "DeviceProtection", "TechSupport","StreamingTV", "StreamingMovies", "Contract", "PaperlessBilling", "PaymentMethod", "SeniorCitizen"])


dataset = pd.get_dummies(dataset, columns=["OnlineBackup"])

In [24]:
hey = pd.read_csv('Customer_churn.csv')

In [25]:
MonthlyCharges = hey['MonthlyCharges']
Churn = hey['Churn']

dataset['MonthlyCharges'] = MonthlyCharges
dataset['Churn']  = Churn

In [26]:
dataset = dataset.drop(['Churn'], axis=1)

dataset['Churn'] = Churn

In [27]:
dataset.head()

,tenure,TotalCharges,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,MultipleLines_No,MultipleLines_No phone service,...,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,SeniorCitizen_0,SeniorCitizen_1,OnlineBackup_No,OnlineBackup_No internet service,OnlineBackup_Yes,MonthlyCharges,Churn
0,1,29.85,0,1,1,0,1,0,0,1,...,0,1,0,1,0,0,0,1,29.85,No
1,34,1889.5,1,0,1,0,0,1,1,0,...,0,0,1,1,0,1,0,0,56.95,No
2,2,108.15,1,0,1,0,0,1,1,0,...,0,0,1,1,0,0,0,1,53.85,Yes
3,45,1840.75,1,0,1,0,1,0,0,1,...,0,0,0,1,0,1,0,0,42.30,No
4,2,151.65,1,0,1,0,0,1,1,0,...,0,1,0,1,0,1,0,0,70.70,Yes

In [28]:
X = dataset.iloc[:, [0, 43]].values
y = dataset.iloc[:, 44].values

In [29]:
# Splitting the dataset into the Training set and Test set
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)


# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\Users\Sumeet Santani\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [31]:
# Fitting SVM to the Training set
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', random_state = 0)
classifier.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=0, shrinking=True,
  tol=0.001, verbose=False)

In [32]:

# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [33]:
y_pred

array(['No', 'No', 'No', ..., 'No', 'No', 'No'], dtype=object)

In [35]:

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1144,  154],
       [ 254,  209]], dtype=int64)

In [37]:
accuracy = sum(np.diag(cm))/np.sum(cm)
accuracy

0.768313458262351

In [38]:
#Precision is the number of true positives over the number of true positives plus the number of false positives = tp/tp+fp

Precision = 1144/(1144+209)
Precision

0.8455284552845529

In [40]:
#Recall is the number of true positives over the number of true positives plus the number of false positives
Recall = 1144/(1144+254)
Recall

0.8183118741058655